@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Bebas Neue";
    font-weight: 400;
    src: url("/fonts/BebasNeue-Regular.ttf") format("truetype");
  }
}

@layer utilities {
  .formInput {
    @apply py-5 px-3 mx-auto  border-2 border-gray-300 rounded-full focus:outline-none focus:border-blue-500 w-[320px] bg-gray-50;
  }
}
